&-team {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    min-height: 500px !important;

    &-head,
    &-body {
        border: solid 1px white;
    }

    &-head {}

    &-body {
        padding: 20px;

        &-carousel {
            & .owl-item.center {

                .main-team-body-carousel-item {
                    &-text {
                        background-color: rgb(75, 75, 75) !important;
                    }
                }
            }

            &-item {
                width: 290px;
                height: 400px;
                position: relative;

                img {
                    position: absolute;
                    width: 230px !important;
                    height: 265px !important;
                    box-sizing: border-box;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 10;
                }

                &-text {
                    border: solid 1px white;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 350px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;
                    padding: 40px 0px;
                    gap: 10px;

                    h3 {
                        font-size: 23px;
                    }

                    p {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}